@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
  width: 100vw;
  height: 100vh;
}
